@namespace DotNetBankingAppClient.Components
@inherits AccountsCarouselLogic




@{
    var itemsToDisplay = GetItems();

    <Carousel Value=@Value OnChange=@OnChange>
        @for (int i = 0; i < itemsToDisplay.Count; i++)
        {
            var card = itemsToDisplay[i];


            <div class="cards-carousel-wrapper" style=@(
             "min-width: "+ ItemWidth + "px;" +
             "max-width: " + ItemWidth + "px;" +
             "margin-left: " + (i==0? "calc(50% - " + ItemWidth/2 + "px)" : "0px") + ";"
             )>
                <CardItem Card=@card Classes="cards-carousel-item" />
            </div>

        }
    </Carousel>
    
}