@page "/m/Cards"
@page "/t/Cards"
@page "/d/Cards"
@namespace DotNetBankingAppClient.Pages
@inherits CardsPageLogic

<PageTitle>Banking App - Cards</PageTitle>

<AppScreen title="Cards" loading=@IsFetching onClickBack="@(() => OnClickBack())" contentClasses="page-cards-content">
    <CardsTabNavigation SelectedCardType="@SelectedCardType" OnTabClicked="@((tab) => OnClickTab(tab))" />

    <div class="page-cards-cards-list">
        @{
            var cards = GetCards();

            foreach (var card in GetCards())
            {
                <CardItem Card="@card"/>
            }
        }
    </div>
</AppScreen>


