@page "/Cards"
@namespace DotNetBankingAppClient.Pages
@inherits CardsPageLogic

<PageTitle>Banking App - Cards</PageTitle>

@{
    var cards = GetCards();

    <AppScreen title="Cards" loading=@IsFetching onClickBack="@(() => OnClickBack())" contentClasses="page-cards-content">
        <CardsTabNavigation SelectedCardType="@SelectedCardType" OnTabClicked="@((tab) => OnClickTab(tab))" />
       
        @if (cards.Count > 0)
        {
            var currentCard = cards[SelectedCard];
            <CardsCarousel Cards=@cards SelectedCard=@SelectedCard OnChange=@OnCardSelected Classes="page-cards-carousel" />

            <p>@currentCard.CardNumber</p>
        }
    </AppScreen>

}




