@namespace DotNetBankingAppClient.Pages
@inherits InboxFragmentLogic

<PageTitle>Banking App - Inbox</PageTitle>

<div class="inbox-fragment-content">
    <Typography classes="inbox-fragment-title">Inbox</Typography>
    <div class="inbox-fragment-messages-list">
        @for (int i = 0; i < groupedMessages.Count; i++)
        {
            var group = groupedMessages[i];
            var messages = group.messages;

            if (i != 0)
            {
                <div class="inbox-fragment-messages-list-separator" />
            }

            <Typography classes="inbox-fragment-messages-list-date">@group.dateTime.ToString("MM/dd/yyyy")</Typography>
            <div class="inbox-fragment-messages-list-group">
                @for (int j = 0; j < messages.Count; j++)
                {
                    var message = messages[j];
                    if (j != 0)
                    {
                        <div class="inbox-fragment-messages-list-separator" />
                    }
                    <MessageItem message=@message onClickItem=@(() => OnMessageClicked(message)) />

                }
            </div>
        }
    </div>
</div>

