@page "/Search"
@namespace DotNetBankingAppClient.Pages
@inherits SearchFragmentLogic

<PageTitle>Banking App - Search</PageTitle>



<DashboardTemplate>
    <div class="search-fragment-content">
       
    </div>

</DashboardTemplate>

