@page "/Home"
@namespace DotNetBankingAppClient.Pages
@inherits HomePageLogic

<PageTitle>Banking App - Home</PageTitle>

<DashboardTemplate>
    <DashboardTopContent>
        <HomeHeader />
    </DashboardTopContent>
    <ChildContent>
        <div class="home-content">
            <div style="width: 100%; min-height: 200px; background: #0a0a0a; border-radius: 16px;"></div>
            <div class="home-page-navigation-items-list">
                @foreach (var item in homePageItems)
                {
                    <HomeNavigationItem name="@item.name" path="@item.path" OnClickItem="@OnClickItem" />
                }
            </div>
        </div> 
    </ChildContent>
</DashboardTemplate>
