@page "/login"

@namespace DotNetBankingAppClient.Pages
@inherits LoginPageLogic

<AppScreen title="Login" variant="AppHeaderVariant.Dark" pageStyles="background: #0077d1" contentStyles="background: #ffffff; border-top-left-radius: 16px; border-top-right-radius: 16px">
    <PageTitle>Banking App - Login</PageTitle>

    @if (isFetching == true)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <p></p>
        <InputField value=@username onChange="@onChangeUsername" />
        <InputField value=@password onChange="@onChangePassword" />
        <AppButton text="Button" onClick="@onClickLoginButton" />

        <p>
            @user?.UserName
        </p>
        <p>
            @user?.PhoneNumber
        </p>
    }

</AppScreen>

