@namespace DotNetBankingAppClient.Pages
@inherits DashboardNavigationLogic

<div class="dashboard-navigation">
    @foreach(string option in navOptions)
    {
        bool isSelected = selectedOption == option;
        string optionClassIfSelected = isSelected ? "dashboard-navigation-option-selected" : "";
        <button class="dashboard-navigation-option @optionClassIfSelected" onclick="@(() => OnOptionSelected(option))">
            <div  class="dashboard-navigation-option-icon">
                @switch (option)
                {
                    case "Search":
                        <IconSearch filled=isSelected />
                        break;
                    case "Inbox":
                        <IconMailClosed filled=isSelected />
                        break;
                    case "Settings":
                        <IconSettings filled=isSelected />
                        break;
                    default:
                        <IconHome filled=isSelected/>
                        break;
                }
            </div>
            @if (isSelected || windowSize == ResponsiveWindowSize.Desktop)
            {
                @option
            }
        </button>
    }
</div>