<div style=@GetHeaderStyles()>
    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
    </svg>
</div>

@code {
    [Parameter]
    public string variant { get; set; } = "light";

    private string GetHeaderStyles()
    {
        string styles = "width: 100%; flex-direction: row; padding: 15px 15px; color: #000000;";

        if(variant == "dark")
        {
            styles += "color: #ffffff";
        }

        return styles;
    }
}
