@namespace DotNetBankingAppClient.Pages
@inherits HomeFragmentLogic

<PageTitle>Banking App - Home</PageTitle>

<ResponsiveRenderer>
    <MobileContent>
        <div class="home-fragment">
            <Carousel />

            <div class="home-fragment-content">
                <div class="home-fragment-navigation-items-list">
                    @foreach (var item in HomeFragmentItems)
                    {
                        <HomeNavigationItem name="@item.name" path="@item.path" OnClickItem="@OnClickItem" />
                    }
                </div>
            </div>
        </div>

    </MobileContent>
    <TabletContent>Tablet</TabletContent>
    <DesktopContent>Desktop</DesktopContent>
</ResponsiveRenderer>

