@namespace DotNetBankingAppClient.Pages
@inherits HomeFragmentLogic

<PageTitle>Banking App - Home</PageTitle>

<div class="home-fragment">
    <CardsCarousel Cards=@Cards SelectedCard=@SelectedCard OnChange=@OnCardSelected/>

    <div class="home-fragment-content">
        <div class="home-fragment-navigation-items-list">
            @foreach (var item in HomeFragmentItems)
            {
                <HomeNavigationItem name="@item.name" path="@item.path" OnClickItem="@OnClickItem" />
            }
        </div>
    </div>
</div>