@namespace DotNetBankingAppClient.Components
@inherits CardItemLogic

<button class="card-item" type="button" onclick="@HandleOnItemClicked" onmouseover="@HandleOnItemHovered" onmouseout="@HandleOnItemUnhovered">
    <p>@card.CardName</p>
</button>
