@namespace DotNetBankingAppClient.Components
@inherits DashboardHeaderLogic

<div class="dashboard-header">
    <Typography classes="dashboard-header-title">Hello, @user?.UserName</Typography>
    <img class="dashboard-header-avatar" src="https://static.vecteezy.com/system/resources/previews/011/459/666/original/people-avatar-icon-png.png" />
</div>