@page "/"
@using BankingAppClient.Models
@inject IBrowserStorage browserStorage
@inject NavigationManager NavManager

<p>Hello</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        UserDTO storedUser = await browserStorage.GetFromLocalStorage<UserDTO>("user");
        string token = await browserStorage.GetFromSessionStorage<string>("token");

        if (storedUser != null && token != null)
        {
            NavManager.NavigateTo("/dashboard");
        }
        else
        {
            NavManager.NavigateTo("/login");
        }
    }
}