@namespace DotNetBankingAppClient.Components
@inherits TypographyLogic

<p class="typography @GetClasses()" 
    style=@("cursor: " + (OnClick != null? "pointer" : "auto") + ";" + 
    @Styles)
>
    @ChildContent
</p>
