.account-item {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    border: solid 1px var(--app-text-highlight-01-color);
    border-radius: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background: var(--app-background-01-color);
}

.account-item-name {
    color: var(--app-text-highlight-01-color);
    font-size: 18px;
    font-weight: 700;
}

.account-item-number {
    color: var(--app-text-default-02-color);
    font-size: 15px;
    font-weight: 500;
    margin-top: 8px;
}

.account-item-type {
    color: var(--app-text-default-02-color);
    font-size: 15px;
    font-weight: 400;
    margin-top: 4px;
}

.account-item-balance {
    color: var(--app-text-default-01-color);
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
}


@media only screen and (min-width: 769px) {
    
}
