.typography {
    font-size: 16px;
    white-space: break-spaces;
    height: fit-content;
    width: fit-content;
    max-width: 100%;
}

.typography-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.typography-color-highlight {
    color: var(--app-text-highlight-color);
}

.typography.error {
    color: #c63030;
}

.typography-color-dark {
    color: #ffffff;
}
