@page "/Settings"
@namespace DotNetBankingAppClient.Pages
@inherits SettingsFragmentLogic

<PageTitle>Banking App - Settings</PageTitle>

<DashboardTemplate>
    <div class="settings-fragment-content">
        <img class="settings-fragment-avatar" src="https://static.vecteezy.com/system/resources/previews/011/459/666/original/people-avatar-icon-png.png" />
    </div>
</DashboardTemplate>