<button class="app-button" type="button" onclick="@HandleOnButtonClicked" onmouseover="@HandleOnButtonHovered" onmouseout="@HandleOnButtonUnhovered" 
style="background: #0077d1;
    border-radius: 16px;
    border: none;
    padding: 8px 16px;
    color: #ffffff;">
    @text
</button>


@code {
    [Parameter]
    public string text { get; set; } = "Button";

    [Parameter]
    public Action? onClick { get; set; }

    private bool isHovered { get; set; } = false;

    private void HandleOnButtonClicked()
    {
        if (onClick != null)
        {
            onClick();
        }
    }

    private void HandleOnButtonHovered()
    {
        isHovered = true;
        this.StateHasChanged();
    }

    private void HandleOnButtonUnhovered()
    {
        isHovered = false;
        this.StateHasChanged();
    }
}
