@namespace DotNetBankingAppClient.Pages
@inherits DashboardLayoutLogic

<CascadingValue Value="this">
    <AppScreen withoutHeader pageClasses="dashboard-app-screen" contentClasses="dashboard-app-screen-children">
        @if (windowSize == ResponsiveWindowSize.Desktop)
        {
            <div class="dashboard-heading">
                <DashboardHeader />
                <DashboardNavigation />
            </div>
        
        }
        else
        {
            <DashboardHeader />
        }
        <div class="dashboard-content">
            @Body
        </div>
        @if (windowSize != ResponsiveWindowSize.Desktop)
        {
            <DashboardNavigation />
        }
    </AppScreen>
</CascadingValue>
