.dashboard-header {
    width: 100%;
    flex-direction: row;
    padding: 20px 20px;
    align-items: center;
    display: grid;
    grid-template-columns: 40px auto 40px;
}

.dashboard-header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #212121;
    align-items: flex-start;
    margin-right: auto;
    object-fit: contain;
}

.dashboard-header-title {
    padding: 0 20px;
    font-size: 18px;
}

.dashboard-header-notifications {
    width: 25px;
    height: 25px;
    color: #ffffff;
    margin-left: auto;
    align-items: flex-end;
}