@import url("layout/_index.css");
@import url("components/_index.css");
@import url("fragments/_index.css");
@import url("pages/_index.css");



* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Arial", "sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: inherit;
    font-weight: inherit;
    box-sizing: border-box;
    line-height: inherit;
    user-select: none;
    overscroll-behavior: contain;
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    --app-background-01-color: #0d1f3c;
    --app-background-02-color: #1d3f57;
    --app-background-03-color: #162a43;
    --app-text-highlight-01-color: #61add6;
    --app-text-default-01-color: #ffffff;
    --app-text-default-02-color: #d1d1d1;
    --app-text-error-01-color: #c63030;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#app {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

div {
    display: flex;
    flex-direction: column;
    position: relative;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}








