@page "/Search"
@namespace DotNetBankingAppClient.Pages
@inherits SearchPageLogic

<PageTitle>Banking App - Search</PageTitle>



<DashboardTemplate>
    <div class="search-content">
       
    </div>

</DashboardTemplate>

