@namespace DotNetBankingAppClient.Layout
@inherits AppScreenLogic

<div class="app-screen" style="@pageStyles">
    @if (!withoutHeader)
    {
        <AppHeader title=@title variant="@variant" onClickBack="@onClickBack" styles="position: absolute; top: 0" />
    }
    <div class="app-screen-children" style="@contentStyles">
        @ChildContent
    </div>
</div>
