@namespace DotNetBankingAppClient.Components
@inherits AppButtonLogic

<button class="app-button" type="button" onclick="@HandleOnButtonClicked" onmouseover="@HandleOnButtonHovered" onmouseout="@HandleOnButtonUnhovered" style="@styles">
    @text
</button>
