@namespace DotNetBankingAppClient.Components
@inherits AppButtonLogic

<button class="app-button @classes" type="button" onclick="@HandleOnButtonClicked" onmouseover="@HandleOnButtonHovered" onmouseout="@HandleOnButtonUnhovered">
    @text
</button>
